
body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/logo.png');
    
}

.login-container {
    max-width: 400px;
    width: 100%;
    background:#ddd;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
